language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9

script:
  - python setup.py test

install:
  - make install-deps

notifications:
  email: false
  irc: "irc.freenode.org#xelnext"
