sudo: false
language: python

script:
  - tox

install:
  - pip install tox

matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27-django17
      env: TOXENV=py27-django18
      env: TOXENV=py27-django19
      env: TOXENV=py27-django110
    - python: "3.4"
      env: TOXENV=py34-django110
    - python: "3.5"
      env: TOXENV=py35-django17
      env: TOXENV=py35-django18
      env: TOXENV=py35-django19
      env: TOXENV=py35-django110

    # Pypy
    - python: "pypy"
      env: TOXENV=py27-django110

    # Linting
    - python: "3.5"
      env: TOXENV=lint

notifications:
  email: false
  irc: "irc.freenode.org#xelnext"
