name: Test

on:
  - push
  - pull_request

jobs:
  build:
    name: Python ${{ matrix.python-version }} / ${{ matrix.django-family }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          # Django 1.11: 3.4, 3.7
          - python-version: "2.7"
            django-family: 111
          - python-version: "3.4"
            django-family: 111
          - python-version: "3.7"
            django-family: 111
          - python-version: "pypy3"
            django-family: 111

          # Django 2.2: 3.5, 3.7, 3.8
          - python-version: "3.5"
            django-family: 22
          - python-version: "3.7"
            django-family: 22
          - python-version: "3.8"
            django-family: 22
          - python-version: "pypy3"
            django-family: 22

          # Django 3.2: Python 3.6, 3.8, 3.9, 3.10
          - python-version: "3.6"
            django-family: 32
          - python-version: "3.8"
            django-family: 32
          - python-version: "3.9"
            django-family: 32
          - python-version: "3.10"
            django-family: 32
          - python-version: "pypy3"
            django-family: 32

          # Django 4.0: Python 3.8, 3.9, 3.10
          - python-version: "3.8"
            django-family: 40
          - python-version: "3.9"
            django-family: 40
          - python-version: "3.10"
            django-family: 40

    env:
      TOXENV: django${{ matrix.django-family }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run tests
        run: tox
